.game-result {
  width: 44rem;
  min-height: 35rem;
  margin: 2rem auto;
  background: url("../../../assets/images/bg_success.svg") no-repeat;
  text-align: center;

  p {
    font-size: 2rem;
    color: #ffc300;
  }

  .restart-wrapper {
    margin-top: 23rem;
    text-align: center;
    .btn-restart {
      cursor: pointer;
      background: url("../../../assets/images/btn_restart.png") no-repeat top;
      height: 4rem;
      font-size: 2rem;
      color: #000000;
      padding: 0.2rem;
    }
  }
}
