<mat-dialog-content>
  <h4>{{ "helper_guide.title"| translate}}</h4>
  <p [innerHtml]="'helper_guide.l1'| translate"></p>
  <p [innerHtml]="'helper_guide.l2'| translate"></p>
  <p [innerHtml]="'helper_guide.l3'| translate"></p>
  <p [innerHtml]="'helper_guide.l4'| translate"></p>
  <p [innerHtml]="'helper_guide.l5'| translate"></p>
  <p [innerHtml]="'helper_guide.l5_1'| translate"></p>
  <p [innerHtml]="'helper_guide.l5_2'| translate"></p>
  <p [innerHtml]="'helper_guide.l6'| translate"></p>
  <p [innerHtml]="'helper_guide.l7'| translate"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ "common.close" | translate}}</button>
</mat-dialog-actions>
