<mat-dialog-content>
  <h4>如何玩遊戲</h4>
  <p>1. 請確保您有EOS賬號。如果沒有，推薦點擊<a href="https://funeos.co/" target="_blank">這裡</a>創建。</p>
  <p>2. 請確保您已經安裝了Scatter插件。如果還沒有，推薦點擊<a href="https://funeos.co/wiki/20" target="_blank">這裡</a>了解如何安裝。</p>
  <p>3. 在Scatter中授權遊戲登錄</p>
  <p>4. 輸入參與次數，點擊參與，付款參與遊戲</p>
  <p>5. 遊戲結束</p>
  <p>5.1 如果參與次數滿額，點擊“開啟寶箱“，開始抽獎。抽出編號參與者獲勝，會得到寶箱中的全部EOS</p>
  <p>5.2 如果參與次數未滿額，點擊“開啟寶箱“，最後一個參與者將獲得寶箱中的全部EOS</p>
  <p>在遊戲過程中，如果RAM不夠，推薦點擊<a href="https://funeos.co/buy-ram" target="_blank">這裡</a>購買；如果CPU或Net不夠，推薦點擊<a href="https://funeos.co/lease" target="_blank">這裡</a>租賃。</p>
  <p>遇到任何問題，可以通過 QQ: 894078817 聯繫我們的客服，我們將很樂意為您提供服務。</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>關閉</button>
</mat-dialog-actions>
