<div class="game">
  <h3>{{'treasure_game.title' | translate}}</h3>

  <div class="game-state">
    <app-treasure-pending *ngIf="lastGame && !lastGame.status"></app-treasure-pending>
    <app-treasure-close *ngIf="lastGame && lastGame.status"></app-treasure-close>
  </div>

  <div class="game-dashboard">
    <div class="game-rule">
      <p class="game-rule-title">{{'treasure_game.rules.title' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r1' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r2' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r3' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r4' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r5' | translate}}</p>
      <p class="game-rule-list">{{'treasure_game.rules.detail.r6' | translate}}</p>
    </div>
    <div class="game-list">
      <table class="game-list-table">
        <thead>
        <tr>
          <th><p>{{ 'common.table.participant' | translate }}</p></th>
          <th><p>{{ 'common.table.number' | translate }}</p></th>
          <th><p>{{ 'common.table.participant_time' | translate}}</p></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of gamePlayers">
          <td>{{item.player.name}}</td>
          <td>{{item.player.ticketNo}}</td>
          <td>{{getUTCFixedTime(item.created_at)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
