.game {

  h3 {
    color: #daa520;
    margin: 80px 0 40px;
    font-size: 6rem;
  }

  min-height: 500px;
  text-align: center;
  padding-bottom: 100px;
}

.game-dashboard {
  height: 480px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 80px;

  .game-rule {
    width: 420px;
    height: 375px;
    margin-right: 20px;
    background: url(../../assets/images/bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    box-sizing: border-box;

    .game-rule-title {
      font-size: 24px;
    }
    .game-rule-list {
      text-align: left;
    }
  }
  .game-list {
    width: 560px;
    height: 375px;
    background: url(../../assets/images/bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    box-sizing: border-box;

    .game-list-table {
      width: 100%;

      thead p {
        font-size: 24px;
        font-weight: normal;
      }

      th {
        width: 33%;
      }
    }
  }
}

.game-state {
  min-height: 300px;
}
