<div class="game">
  <h3>百人夺宝</h3>

  <div class="game-state">
    <app-treasure-pending *ngIf="lastGame && !lastGame.status"></app-treasure-pending>
    <app-treasure-close [gameInfo]="lastGame" *ngIf="lastGame && lastGame.status"></app-treasure-close>
  </div>

  <div class="game-dashboard">
    <div class="game-rule">
      <p class="game-rule-title">游戏规则</p>
      <p class="game-rule-list">1. 游戏开始，使用EOS购买能量包，为炮弹注入能量</p>
      <p class="game-rule-list">2. 每注入一个能量包，将会获得一个勇士编号（如您注入2个能量包，将获得2个勇士编号）</p>
      <p class="game-rule-list">3. 能量注满以后，即可发射炮弹击退外星人</p>
      <p class="game-rule-list">4. 击退后，系统随机抽取一个勇士编号，该勇士将会获得击退奖励，游戏结束</p>
      <p class="game-rule-list">5. 重启游戏，开始下一局游戏</p>
      <p class="game-rule-list">6. 重启游戏、发射炮弹的用户均可获得0.05EOS奖励</p>
    </div>
    <div class="game-list">
      <table class="game-list-table">
        <thead>
        <tr>
          <th><p>勇士名字</p></th>
          <th><p>勇士编号</p></th>
          <th><p>购买时间</p></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of gamePlayers">
          <td>{{item.player.name}}</td>
          <td>{{item.player.ticketNo}}</td>
          <td>{{getUTCFixedTime(item.created_at)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
