<div class="app-wrapper">
  <div class="app-section header">
    <div class="menu">
      <div class="menu-frame langs">
        <a class="mr-2" href="https://t.me/eostownio" target="_blank"><img src="../assets/images/t_logo.png"></a>
        <a class="mr-2 t-logo hover-pop" target="_blank"><img src="../assets/images/wechat_logo.png"><div class="hover"><img src="../assets/images/wechat_qr.jpg"></div></a>
        <a class="mr-1" (click)="changeLang('zn-CH')"><img src="../assets/images/local/zn-CH.png"></a>
        <a class="mr-1" (click)="changeLang('zn-TW')"><img src="../assets/images/local/zn-TW.png"></a>
        <a class="mr-1" (click)="changeLang('en-UK')"><img src="../assets/images/local/en-UK.png"></a>
      </div>
      <div class="menu-frame title">
        {{'treasure_game.title' | translate}}
      </div>
      <div class="menu-frame ops">
        <a *ngIf="isLogin()" (click)="logout()">{{ "common.logout" | translate }}</a>
        <a class="mr-1" *ngIf="isLogin()">{{ scatterService.getAccountName() }}</a>
        <a class="mr-2" *ngIf="!isLogin()" (click)="login()">{{ "common.login" | translate }}</a>
        <a class="mr-2" (click)="openHelperGuide()">{{ "common.helper_guide" | translate }}</a>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="app-section game">
    <app-treasure-game></app-treasure-game>
  </div>
  <div class="app-section">
    <app-game-description></app-game-description>
  </div>
</div>

<div *ngIf="matSpinner" class="spinner">
  <mat-spinner [color]="'warn'" class="spinner-content"></mat-spinner>
</div>
