.app-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  .menu {
    float: right;
    color: #FFFFFF;
    a {
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

.spinner {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  z-index: 20;

  .spinner-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

  }
}
