.app-section {
  max-width: 1280px;
  margin: 0 auto;

  &.header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ffffff2e, rgba(255, 255, 255, 0));
  }
  &.game {
    min-height: 640px;
  }
}

.app-wrapper {
  .menu {
    display: flex;
    align-items: center;

    .menu-frame {
      width: 33%;

      &.langs {
        display: flex;
        .t-logo {
          border-right: 1px solid #4e4e4e;
          padding-right: 2rem;
        }
      }
      &.title {
        text-align: center;
        font-size: 3rem;
        padding: 1.5rem;
      }
      &.ops {
        display: flex;
        flex-direction: row-reverse;
      }
      a {
        cursor: pointer;
        img {
          width: 2rem;
        }
      }
    }
  }
  .divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

.spinner {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  z-index: 20;

  .spinner-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

  }
}
