<div *ngIf="gameStatus !== STATUS_STARTING" class="count-down">
  當前價值: <span class="font-lg">{{income}}</span> EOS,
  <span *ngIf="gameStatus === STATUS_STARTED">本輪將於: <span class="font-lg">{{remainingMinutes}}分 {{remainingSeconds}}秒</span> 后結束</span>
  <span *ngIf="gameStatus === STATUS_END">本輪<span class="font-lg">已結束 <span *ngIf="remainingUnits !== 0">未滿</span><span *ngIf="remainingUnits === 0">已滿</span>
  </span></span>,
  最後購買者: <span class="font-lg">{{lastPurchase.player.name}}</span>
</div>

<div class="game-wrapper">
  <div class="info-wrapper">
    <div class="previous-games">
      <h6 class="previous-game-title">荣耀榜</h6>
      <table class="previous-game-list">
        <thead>
        <tr>
          <th><p>參與人</p></th>
          <th><p>中獎金額</p></th>
          <th><p>參與時間</p></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of previousWinners">
          <td>{{item.name}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="participant-wrapper">
      <div class="participant-info">
        <p>已參與人數<span> {{gameInfo?.current_count}} </span></p>
        <p *ngIf="remainingUnits !== 0">還差<span> {{remainingUnits}} </span>人可以開獎</p>
      </div>
      <div class="participant">
        <p *ngIf="remainingUnits !== 0"><span>{{getEosPrice(1)}} </span>個EOS參與一次</p>
        <div *ngIf="remainingUnits !== 0">
          <a class="participant-change" href="javascript:void(0)" (click)="changeValue(false)">−</a>
          <input class="participant-input" type="text" [(ngModel)]="value" (keyup)="checkMaxInputEos()">
          <a class="participant-change" href="javascript:void(0)" (click)="changeValue(true)">+</a>
        </div>
      </div>
    </div>
  </div>

  <div class="treasure-box-wrapper">
    <div class="pending-padding">
      <div class="treasure-box">
        <img src="../../../assets/images/treasure_box.png">
        <div *ngIf="gameStatus === STATUS_END">
          <button *ngIf="remainingUnits" class="tr-button" (click)="stop()">開啟寶箱</button>
          <button *ngIf="!remainingUnits" class="tr-button" (click)="draw()">開啟寶箱</button>
        </div>
        <div *ngIf="gameStatus === STATUS_STARTED || gameStatus === STATUS_STARTING">
          <button *ngIf="remainingUnits" class="tr-button" (click)="transferEos()">參 與</button>
          <button *ngIf="!remainingUnits" class="tr-button" (click)="draw()">開啟寶箱</button>
        </div>
      </div>
      <div class="pending-progress">
        <div class="pending-blank" [style.height.px]="progressHeight"></div>
      </div>
    </div>
  </div>
</div>
