.info-wrapper {
  margin-top: 2rem;
  .count-down {
    text-align: center;
  }

  .progress-wrapper {
    margin: 0 auto;
    width: 830px;
    .bar-bg {
      height: 16px;
      border-radius: 5px;
      position: relative;
      width: 830px;
      top: 17px;
      background-color: #ffffff29;
    }
    .bar {
      width: 400px;
      position: relative;
      background: url("../../../assets/images/progress.png") no-repeat;
      height: 23px;
    }
    .bar-node {
      background: url("../../../assets/images/progress_node.png") no-repeat;
      height: 25px;
      width: 32px;
      position: relative;
      top: -28px;
      left: 383px;
    }
  }

  .current-status {
    text-align: center;
  }
}

.game-wrapper {
  display: flex;
  margin-top: 2rem;
  .left {
    width: 50%;
    text-align: center;
    img {
      width: 25rem;
    }
  }
  .divider {
    margin: 2rem 0;
    width: 1px;
    background: linear-gradient(180deg, rgba(255,255,255,0), #777474, rgba(255,255,255,0));
  }
  .right {
    width: 50%;

    .participant-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5rem auto;
      width: 20rem;
      text-align: center;

      .participant {
        display: flex;
        height: 3.5rem;
        font-size: 2rem;

        .change-value {
          cursor: pointer;
          width: 4rem;
          display: flex;
          justify-content: center;

          &.minus {
            background: url("../../../assets/images/btn_participant_L_off.png") no-repeat;
            &:active {
              background: url("../../../assets/images/btn_participant_L_on.png") no-repeat;
            }
          }
          &.plus {
            background: url("../../../assets/images/btn_participant_R_off.png") no-repeat;
            &:active {
              background: url("../../../assets/images/btn_participant_R_on.png") no-repeat;
            }
          }
        }
        .participant-input {
          width: 9.5rem;
          background: url("../../../assets/images/btn_participant_input.png") no-repeat;

          input {
            width: 9.5rem;
            background: none;
            border: none;
            font-size: 2.5rem;
            text-align: center;
          }
        }
      }

      .btn-play-wrapper {
        .btn-play {
          padding: 3rem 0;
          cursor: pointer;
          font-size: 2rem;
          width: 9rem;
          border: none;
          background: url("../../../assets/images/btn_participant_off.png") no-repeat top;
          &:active {
            background: url("../../../assets/images/btn_participant_on.png") no-repeat top;
            border: none;
          }
        }
      }
    }

  }
}
