<div *ngIf="gameStatus !== STATUS_STARTING" class="count-down">
  {{ 'treasure_pending.countdown.current_value' | translate }}: <span class="font-lg">{{income}}</span> EOS,
  <span *ngIf="gameStatus === STATUS_STARTED">{{ 'treasure_pending.countdown.status_started_head' | translate }}: <span class="font-lg">{{remainingMinutes}}{{ 'common.minute' | translate }} {{remainingSeconds}}{{ 'common.second' | translate }}</span> {{ 'treasure_pending.countdown.status_started_tail' | translate }}</span>
  <span *ngIf="gameStatus === STATUS_END">{{ 'treasure_pending.countdown.status_end_head' | translate }}<span class="font-lg">{{ 'common.ended' | translate }} <span *ngIf="remainingUnits !== 0">{{ 'common.not-filled' | translate }}</span><span *ngIf="remainingUnits === 0">{{ 'common.filled' | translate }}</span>
  </span></span>,
  {{ 'treasure_pending.countdown.last_purchase' | translate }}: <span class="font-lg">{{lastPurchase.player.name}}</span>
</div>

<div class="game-wrapper">
  <div class="info-wrapper">
    <div class="previous-games">
      <h6 class="previous-game-title">{{ 'treasure_pending.previous_game_title' | translate }}</h6>
      <table class="previous-game-list">
        <thead>
        <tr>
          <th><p>{{ 'common.table.participant' | translate }}</p></th>
          <th><p>{{ 'common.table.reward_amount' | translate }}</p></th>
          <th><p>{{ 'common.table.participant_time' | translate }}</p></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of previousWinners">
          <td>{{item.name}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="participant-wrapper">
      <div class="participant-info">
        <p>{{ 'treasure_pending.participant.participants_count' | translate }}<span> {{gameInfo?.current_count}} </span></p>
        <p *ngIf="remainingUnits !== 0">{{ 'treasure_pending.participant.remaining_head' | translate }}<span> {{remainingUnits}} </span> {{ 'treasure_pending.participant.remaining_tail' | translate }}</p>
      </div>
      <div class="participant">
        <p *ngIf="remainingUnits !== 0"><span>{{getEosPrice(1)}} </span>{{ 'treasure_pending.participant.price' | translate }}</p>
        <div *ngIf="remainingUnits !== 0">
          <a class="participant-change" href="javascript:void(0)" (click)="changeValue(false)">−</a>
          <input class="participant-input" type="text" [(ngModel)]="value" (keyup)="checkMaxInputEos()">
          <a class="participant-change" href="javascript:void(0)" (click)="changeValue(true)">+</a>
        </div>
      </div>
    </div>
  </div>

  <div class="treasure-box-wrapper">
    <div class="pending-padding">
      <div class="treasure-box">
        <img src="../../../assets/images/treasure_box.png">
        <div *ngIf="gameStatus === STATUS_END">
          <button *ngIf="remainingUnits" class="tr-button" (click)="stop()">{{ 'treasure_pending.treasure_box.open' | translate }}</button>
          <button *ngIf="!remainingUnits" class="tr-button" (click)="draw()">{{ 'treasure_pending.treasure_box.open' | translate }}</button>
        </div>
        <div *ngIf="gameStatus === STATUS_STARTED || gameStatus === STATUS_STARTING">
          <button *ngIf="remainingUnits" class="tr-button" (click)="transferEos()">{{ 'treasure_pending.treasure_box.participant' |  translate }}</button>
          <button *ngIf="!remainingUnits" class="tr-button" (click)="draw()">{{ 'treasure_pending.treasure_box.open' | translate }}</button>
        </div>
      </div>
      <div class="pending-progress">
        <div class="pending-blank" [style.height.px]="progressHeight"></div>
      </div>
    </div>
  </div>
</div>
