/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0;
  color: #fefefe;
  background: url("./assets/images/bg.png") #0D0735;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
}

.text-emphasize {
  color: #28FBFD;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.font-lg {
  font-size: 2rem;
}
